<div class="container">
  <div class="row">
    <div class="col-6">
      <form [formGroup]="formAlumno" class="row g-3">
        <div class="form-group">
          <label> Nombre </label>
          <input type="text" formControlName="nombre" class="form-control"
            [class.is-valid]="this.formAlumno.get('nombre')?.valid" [class.is-invalid]="
    this.formAlumno.get('nombre')?.touched && this.formAlumno.get('nombre')?.invalid
  ">

          <div *ngIf="this.formAlumno.get('nombre')?.hasError('required')" class="invalid-feedback">
            Este campo es requerido
          </div>
        </div>

        <div class="form-group">
          <label> Apellido </label>
          <input type="text" formControlName="apellido" class="form-control"
            [class.is-valid]="this.formAlumno.get('apellido')?.valid" [class.is-invalid]="
      this.formAlumno.get('apellido')?.touched && this.formAlumno.get('apellido')?.invalid
    ">

          <div *ngIf="this.formAlumno.get('apellido')?.hasError('required')" class="invalid-feedback">
            Este campo es requerido
          </div>

        </div>

        <div class="form-group">
          <label> CUIL </label>
          <input type="text" formControlName="cuil" class="form-control"
            [class.is-valid]="this.formAlumno.get('cuil')?.valid" [class.is-invalid]="
      this.formAlumno.get('cuil')?.touched && this.formAlumno.get('cuil')?.invalid
    ">

          <div *ngIf="this.formAlumno.get('cuil')?.hasError('required')" class="invalid-feedback">
            Este campo es requerido
          </div>
          <div *ngIf="this.formAlumno.get('cuil')?.hasError('pattern')" class="invalid-feedback">
            Formato CUIL incorrecto.
          </div>


        </div>

        <div class="form-group">
          <label> Email </label>
          <input type="email" formControlName="email" class="form-control"
            [class.is-valid]="this.formAlumno.get('email')?.valid" [class.is-invalid]="
    this.formAlumno.get('email')?.touched && this.formAlumno.get('email')?.invalid
  ">

          <div *ngIf="this.formAlumno.get('email')?.hasError('required')" class="invalid-feedback">
            Este campo es requerido
          </div>
          <div *ngIf="this.formAlumno.get('email')?.hasError('pattern')" class="invalid-feedback">
            Formato email incorrecto.
          </div>
          <div *ngIf="this.formAlumno.get('email')?.hasError('nameOnEmail')" class="invalid-feedback">
            El email no puede contener el nombre del alumno.
          </div>
        </div>

        <div class="form-group">
          <label> Edad </label>
          <input type="number" formControlName="edad" class="form-control"
            [class.is-valid]="this.formAlumno.get('edad')?.valid" [class.is-invalid]="
    this.formAlumno.get('edad')?.touched && this.formAlumno.get('edad')?.invalid
  ">
          <div *ngIf="this.formAlumno.get('edad')?.hasError('required')" class="invalid-feedback">
            Este campo es requerido
          </div>
          <div *ngIf="this.formAlumno.get('edad')?.hasError('min')" class="invalid-feedback">
            La edad debe superar los 18 años.
          </div>
          <div *ngIf="this.formAlumno.get('edad')?.hasError('max')" class="invalid-feedback">
            La edad no debe superar los 60 años.
          </div>

        </div>

        <div class="form-group">
          <label> Teléfono </label>
          <input type="tel" formControlName="telefono" class="form-control"
            [class.is-valid]="this.formAlumno.get('telefono')?.valid" [class.is-invalid]="
    this.formAlumno.get('telefono')?.touched && this.formAlumno.get('telefono')?.invalid
  ">
          <div *ngIf="this.formAlumno.get('telefono')?.hasError('required')" class="invalid-feedback">
            Este campo es requerido
          </div>
        </div>
        <div class="col-12">
        <button class="btn btn-primary" (click)="save()" [disabled]="!this.formAlumno.valid">Aceptar</button>
        <button class="btn btn-secondary" (click)="reset()">Resetear</button>
        </div>  
       
      </form>
    </div>
  </div>
</div>